
      <div class="item-project wow fadeInUp">
         <div class="bg-project-item" style="background: url(images/project-bg.svg) no-repeat;"></div>
         <div class="content-project">
            <div class="logo-project">
               <a href=""><img src="images/logo-bg-color.svg" alt=""></a>
            </div>
            <div class="description-project">
               <a href=""><p>Rebranding, strategy and design for one of the world’s largest job search platforms, catering to millions of visitors.</p></a>
            </div>
            <div class="thumbnails-avatar">
               <a href="">
                  <img src="images/avatar-purple.png" alt="">
               </a>
            </div>
         </div>
      </div>
      <div class="item-project wow fadeIn">
         <div class="bg-project-item" style="background: url(images/project-bg.svg) no-repeat;"></div>
         <div class="content-project">
            <div class="logo-project">
               <a href=""><img src="images/logo-bg-color.svg" alt=""></a>
            </div>
            <div class="description-project">
               <a href=""><p>Rebranding, strategy and design for one of the world’s largest job search platforms, catering to millions of visitors.</p></a>
            </div>
            <div class="thumbnails-avatar">
               <a href="">
                  <img src="images/avatar-purple.png" alt="">
               </a>
            </div>
         </div>
      </div>
      <div class="item-project wow fadeInUp">
         <div class="bg-project-item" style="background: url(images/project-bg.svg) no-repeat;"></div>
         <div class="content-project">
            <div class="logo-project">
               <a href=""><img src="images/logo-bg-color.svg" alt=""></a>
            </div>
            <div class="description-project">
               <a href=""><p>Rebranding, strategy and design for one of the world’s largest job search platforms, catering to millions of visitors.</p></a>
            </div>
            <div class="thumbnails-avatar">
               <a href="">
                  <img src="images/avatar-purple.png" alt="">
               </a>
            </div>
         </div>
      </div>