@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: normal;
  src: local(""), url("../fonts/GoogleSans-Regular.otf") format("woff");
}
@font-face {
  font-family: "Google Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local(""), url("../fonts/GoogleSans-Bold.otf") format("woff");
}
body {
  font-family: "Google Sans";
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #0F0928;
  border: 0;
  text-decoration: none;
}

* {
  border: 0;
  text-decoration: none;
  margin: 0;
  outline: none;
  padding: 0;
}

.swiper-wrapper {
  z-index: 0 !important;
}

header {
  display: inline-block;
  padding: 15px 0;
  width: 100%;
  position: relative;
  z-index: 1;
}

.body-header {
  display: flex;
  justify-content: space-between;
}

.nav-header {
  display: inline-block;
}
.nav-header .button-primary-content.outline {
  margin-right: 52px;
}
.nav-header .body-nav-header {
  display: flex;
  align-items: center;
  position: relative;
}

h1, h2, h3, h4, h5, h6, b {
  font-family: "Google Sans Bold";
}

.infor-head-course {
  display: inline-block;
  width: 100%;
  padding: 20px;
  border: 1px solid #B1A5E0;
  background: #ece8ff;
  position: relative;
  padding-left: 52px;
}
.infor-head-course img {
  position: absolute;
  left: 20px;
  top: 23px;
}
.infor-head-course p {
  margin-bottom: 0;
  color: #2B00D5;
}

.button-primary {
  display: flex;
  align-items: center;
}
.button-primary .button-primary-content a {
  display: flex;
  align-items: center;
  font-size: 15px;
  background: #2B00D5;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Google Sans Bold";
  text-decoration: none;
  text-transform: uppercase;
  height: 52px;
  color: white;
  padding: 10px 7px 10px 30px;
  border-radius: 100px;
  border: 1px solid #2B00D5;
  margin-right: 20px;
  text-decoration: none !important;
}
.button-primary .button-primary-content.outline a {
  background: white !important;
  color: #2B00D5;
}
.button-primary .button-primary-content.outline b {
  background: #2B00D5;
}
.button-primary .button-primary-content.outline:hover a {
  background: #F4F6FD !important;
}
.button-primary .button-primary-content.outline:hover b {
  background: #3401FF;
}
.button-primary .button-primary-content:hover a {
  background: #3401FF;
}
.button-primary b {
  margin-left: 8px;
  height: 40px;
  width: 40px;
  display: flex;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  background: white;
}
.button-primary b.white {
  background: white;
}

.nav-header-body.active .button-nav {
  position: fixed;
}
.nav-header-body.active .button-nav button.open-nav {
  rotate: 45deg;
  border: 0;
}
.nav-header-body.active .button-nav button.open-nav::before {
  rotate: 0deg;
  top: 26px;
  left: 17px;
}
.nav-header-body.active .button-nav button.open-nav::after {
  rotate: 90deg;
  top: 26px;
  left: 17px;
}
.nav-header-body.active .nav-menu-content {
  display: flex !important;
}

.content-popup-body {
  display: inline-block;
  position: relative;
  width: 100%;
}
.content-popup-body .button-close {
  position: absolute;
  right: 15px;
  top: 15px;
}

.signup-button {
  display: inline-block;
  width: 100%;
  margin: 30px 0;
  text-align: center;
}
.signup-button a {
  color: #2B00D5;
}

.login-with-google {
  background: white;
  display: inline-block;
  width: 100%;
}
.login-with-google a {
  border: 1px solid #23184F;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #23184F;
  font-size: 15px;
  font-family: "Google Sans Bold";
}
.login-with-google a img {
  margin-left: 5px;
}

.form-popup {
  padding: 20px 30px;
}
.form-popup .form-group {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
.form-popup label {
  display: inline-block;
  width: 100%;
}
.form-popup input {
  height: 50px;
  display: inline-block;
  width: 100% !important;
  border-radius: 0px;
  border: 1px solid #D9D8DD;
}
.form-popup input:focus {
  border: 1px solid #2B00D5;
}

.content-popup {
  max-width: 400px;
  width: 100%;
  min-height: 200px;
  position: relative;
  z-index: 99;
  background: white;
  box-shadow: 0px 46px 60px 0px rgba(0, 0, 0, 0.06);
  padding: 0;
}
.content-popup .title-left-infor-right-button {
  padding: 10px 30px;
  margin-bottom: 15px;
}

.button-close {
  cursor: pointer;
}

.button-login-popup {
  display: inline-block;
  width: 100%;
}
.button-login-popup button {
  height: 52px;
  background: #2B00D5;
  color: white;
  width: 100%;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Google Sans Bold";
}
.button-login-popup button:hover {
  background: #3401FF;
}

.popup-login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.popup-login.active {
  display: flex;
}
.popup-login::before {
  content: "";
  display: inline-block;
  background: black;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.85;
}

.nav-menu-content {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.nav-menu-content::before {
  position: fixed;
  left: 0;
  display: inline-block;
  top: 0;
  width: 100%;
  content: "";
  height: 100%;
  background: white;
  opacity: 0.85;
}
.nav-menu-content .nav-menu-bodycontent {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 744px;
  background: #2B00D5;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  animation: mymove 5s infinite;
  animation-delay: 2s;
}
.nav-menu-content nav {
  z-index: 9;
  position: relative;
  display: inline-block;
  width: 100%;
}
.nav-menu-content nav ul {
  margin: 0;
  padding: 0;
}
.nav-menu-content nav ul li {
  list-style: none;
}
.nav-menu-content nav ul li a {
  font-size: 28px;
  text-decoration: none;
  padding: 5px 0 !important;
  margin-bottom: 15px;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  color: #c8baff;
  position: relative;
  opacity: 1;
}
.nav-menu-content nav ul li a.active {
  opacity: 1;
  color: #09E2FF;
}
.nav-menu-content nav ul li a::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #09E2FF;
  transform-origin: 100% 50%;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}
.nav-menu-content nav ul li a:hover, .nav-menu-content nav ul li a.active {
  color: #09E2FF;
}
.nav-menu-content nav ul li a:hover::before, .nav-menu-content nav ul li a.active::before {
  transform-origin: 0 50%;
  transform: scale3d(1, 1, 1);
}
.nav-menu-content nav ul li:hover a {
  opacity: 1;
}
.nav-menu-content .connect-partner {
  position: relative;
  z-index: 9;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  padding-bottom: 40px;
}
.nav-menu-content .connect-partner label {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 18px;
}
.nav-menu-content .connect-partner .button-primary {
  display: inline-block;
  width: 100%;
  margin: 70px 0;
  text-align: center;
  margin-top: 10px;
}
.nav-menu-content .connect-partner .button-primary b {
  opacity: 1;
  background: #2B00D5;
}
.nav-menu-content .connect-partner .button-primary a {
  margin: auto;
  border: 0;
}
.nav-menu-content .connect-partner .button-primary span {
  width: 260px;
  color: #23184F;
}
.nav-menu-content .connect-partner .partner-link {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.nav-menu-content .connect-partner .partner-link span {
  display: inline-block;
  opacity: 0.7;
  color: white;
  width: 100%;
  font-size: 18px;
  text-align: center;
}
.nav-menu-content .connect-partner .partner-link a {
  display: inline-block;
  text-align: center;
  color: white;
  width: 100%;
  font-size: 18px;
  margin-top: 10px;
  text-decoration: underline;
  text-transform: uppercase;
}
.nav-menu-content .connect-partner .partner-link a:hover {
  color: white !important;
}

.logined-header {
  position: relative;
  margin-right: 64px;
}
.logined-header .block-avatar-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logined-header .block-avatar-account img.avatar-logined {
  width: 52px;
  height: 52px;
  -o-object-fit: cover;
     object-fit: cover;
}
.logined-header .block-avatar-account b {
  height: initial;
  display: inline-block;
  width: -moz-max-content;
  width: max-content;
}
.logined-header .block-avatar-account b label {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-family: "Google Sans";
  margin-bottom: 0;
  color: #726E84;
}
.logined-header .block-avatar-account b span {
  font-size: 20px;
  color: #0F0928;
}

.show-box-account {
  position: absolute;
  top: 56px;
  right: 0;
  width: 316px;
  padding: 20px;
  border-radius: 24px;
  background: var(--Black-to-ALpha-Back-Gray, #F4F6FD);
  box-shadow: 0px 69px 19px 0px rgba(0, 0, 0, 0), 0px 44px 18px 0px rgba(0, 0, 0, 0.01), 0px 25px 15px 0px rgba(0, 0, 0, 0.05), 0px 11px 11px 0px rgba(0, 0, 0, 0.09), 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
}
.show-box-account .avatar-info-head {
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
}
.show-box-account .avatar-info-head img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 6px solid white;
}
.show-box-account .avatar-info-head span {
  display: inline-block;
  text-align: center;
  color: #726E84;
  font-size: 14px;
  width: 100%;
  font-family: "Google Sans";
}
.show-box-account .avatar-info-head b {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  background: none;
  color: #0F0928;
}

.box-sub-menu-account {
  border-radius: 12px;
  background: white;
}
.box-sub-menu-account a {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  border-bottom: 1px solid #F4F6FD;
}
.box-sub-menu-account a img {
  margin-right: 8px;
}
.box-sub-menu-account a span {
  color: #726E84;
  font-size: 16px;
}

.nav-header-body .button-nav {
  position: fixed;
  top: 15px;
  z-index: 9;
  margin-left: -52px;
}
.nav-header-body .button-nav button {
  background: white;
}
.nav-header-body .button-nav button.open-nav {
  height: 52px;
  border-radius: 100px;
  width: 52px;
  border: 1px solid #2B00D5;
  position: relative;
}
.nav-header-body .button-nav button.open-nav::before {
  content: "";
  background: #2B00D5;
  display: inline-block;
  width: 20px;
  height: 2px;
  position: absolute;
  left: 18px;
  top: 20px;
  transition: 0.3s;
}
.nav-header-body .button-nav button.open-nav::after {
  content: "";
  display: inline-block;
  width: 20px;
  background: #2B00D5;
  height: 2px;
  position: absolute;
  left: 14px;
  top: 29px;
  transition: 0.3s;
}
.nav-header-body .button-nav button:hover {
  background: #F4F6FD;
}

.box-get-vaulue {
  background: #2B00D5;
  display: inline-block;
  width: 100%;
  padding: 40px;
  padding-bottom: 10px;
}
.box-get-vaulue .item-get-value {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  width: 100%;
  padding-left: 120px;
}
.box-get-vaulue .item-get-value img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
}
.box-get-vaulue .item-get-value .infor-get-value {
  position: relative;
  display: inline-block;
  min-height: 100px;
  width: 100%;
}
.box-get-vaulue .item-get-value .infor-get-value b {
  display: inline-block;
  width: 100%;
  font-family: "Google Sans Bold";
  color: #09E2FF;
}
.box-get-vaulue .item-get-value .infor-get-value span {
  color: white;
  opacity: 0.8;
}

.value-section {
  display: inline-block;
  width: 100%;
}
.value-section .title-left-infor-right-button {
  margin-bottom: 30px;
}

.infor-course-body {
  display: inline-block;
  width: 100%;
  padding: 20px;
}

.col-md-8 .item-course h6 {
  margin-bottom: 30px;
}
.col-md-8 .item-course h6 a {
  font-size: 30px;
}

.hero-slider {
  display: inline-block;
  width: 100%;
  padding-top: 165px !important;
}
.hero-slider h1 span {
  display: inline-block;
  width: 100%;
}
.hero-slider .row {
  align-items: center;
}

.infor-video .video-course {
  margin-right: 15px;
}

.item-course {
  display: inline-block;
  margin-bottom: 60px;
  width: 100%;
  background: var(--White, #FFF);
  box-shadow: 0px 46px 60px 0px rgba(0, 0, 0, 0.06);
}
.item-course img {
  width: 100%;
  height: 390px;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-course .infor-course-body img {
  height: 18px;
}
.item-course h6 {
  margin-top: 0;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}
.item-course h6 a {
  display: inline-block;
  width: 100%;
  color: #0F0928;
  font-size: 22px;
  min-height: 51px;
  line-height: 30px;
}
.item-course .infor-video {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
  align-items: center;
}
.item-course .infor-video b {
  font-size: 14px;
  display: flex;
}
.item-course .infor-video b img {
  margin-right: 4px;
  width: 18px;
}
.item-course .infor-video b span {
  margin-left: 4px;
  color: #726E84;
  font-weight: normal !important;
  font-family: "Google Sans";
}
.item-course .infor-video b.video-course span {
  padding-left: 4px;
  margin-left: 4px;
  border-left: 1px solid #D9D8DD;
  height: 20px;
}

.price-box {
  display: inline-block;
  width: 100%;
}
.price-box b {
  font-size: 18px;
  color: #2B00D5;
}
.price-box span {
  color: #726E84;
  text-decoration: line-through;
  margin-left: 10px;
}

section {
  overflow: hidden;
  float: left;
  animation: fadeIn 3s;
  width: 100%;
  padding: 60px !important;
}

.head-hero {
  max-width: 542px;
}
.head-hero b {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
}
.head-hero b img {
  height: 28px;
}

.why-choice-course .body-whychoice {
  background: #2B00D5 !important;
}

h1 {
  max-width: 542px;
  position: relative;
  margin-top: 0;
  font-size: 75px;
  color: #0F0928;
}
h1 span {
  font-size: 55px;
  color: #2B00D5;
}

.description-hero p {
  font-size: 20px;
}

.avatar-why-choice {
  display: inline-block;
  width: 100%;
}
.avatar-why-choice img {
  display: inline-block;
  width: 100%;
}

.button-chat-primary {
  width: 100%;
  margin-top: 30px;
  display: flex;
}
.button-chat-primary a {
  display: flex;
  padding: 5px 12px 5px 30px;
  height: 64px;
  border-radius: 100px;
  align-items: center;
  background: #2B00D5;
  font-family: "Google Sans Bold";
}
.button-chat-primary a:hover {
  background: #3401FF;
}
.button-chat-primary a span {
  color: white;
  text-transform: uppercase;
  margin-right: 8px;
  font-size: 15px;
  text-wrap: nowrap;
}
.button-chat-primary a img {
  height: 45px;
}

.feedbacksoon {
  margin-left: 10px;
}

.video-section video {
  width: 100%;
  display: inline-block;
}

.logo-brands {
  padding: 60px 0;
}

.logo-brands-content {
  display: flex;
  justify-content: center;
}
.logo-brands-content .item-logo {
  text-align: center;
  border-right: 1px solid #D9D8DD;
  padding: 15px 30px;
}
.logo-brands-content .item-logo img {
  height: 70px;
}
.logo-brands-content .item-logo:nth-last-child(1) {
  border: 0;
}

.project-section {
  position: relative;
}

.title-section {
  margin-bottom: 30px;
  width: 100%;
  font-size: 15px;
  color: #0F0928;
  position: relative;
  font-family: "Google Sans Bold";
  display: flex;
  align-items: center;
  padding-left: 15px;
  text-transform: uppercase;
}
.title-section::before {
  width: 3px;
  content: "";
  display: inline-block;
  height: 20px;
  position: absolute;
  left: 0;
  background: #2B00D5;
}

.item-project {
  width: 100%;
  background-size: cover;
  overflow: hidden;
  position: relative;
  padding: 0;
}
.item-project.item-services h5 {
  margin-bottom: 0;
}
.item-project.item-services h5 a {
  font-size: 32px;
  text-decoration: none;
  color: white;
}
.item-project.item-services p {
  padding-top: 15px !important;
}

.item-services.flex {
  margin-bottom: 14px;
}
.item-services.flex .thumbnails-avatar {
  margin-right: 20px;
}
.item-services.flex h5 {
  text-align: left;
}
.item-services.flex .content-project {
  padding-left: 10px !important;
}
.item-services.flex .content-project p {
  text-align: left;
}
.item-services .content-project {
  padding: 30px;
  align-items: center;
}
.item-services .content-project p {
  font-size: 16px;
}
.item-services .item-project h5 {
  margin-top: 55px;
  margin-bottom: 0;
}
.item-services .item-project h5 a {
  font-size: 24px;
  text-decoration: none;
  color: white;
}
.item-services .item-project p {
  padding-top: 15px !important;
  padding-bottom: 20px !important;
}
.item-services.flex .content-project {
  display: flex;
  padding: 27.5px 30px;
}

.bg-project-item {
  display: inline-block;
  width: 100%;
  height: -moz-max-content;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  background-size: cover !important;
}

.content-project {
  position: relative;
  z-index: 1;
  padding: 40px;
  display: inline-block;
  width: 100%;
}
.content-project img {
  max-width: 100%;
}
.content-project .logo-project img {
  height: 36px;
  margin-bottom: 20px;
}

.title-left-infor-right-button {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.title-left-infor-right-button .title-section {
  margin-top: 14px;
  margin-bottom: 0;
}
.title-left-infor-right-button .button-view-all {
  position: absolute;
  right: 0;
  top: 0;
}
.title-left-infor-right-button .button-view-all a {
  margin-right: 0;
}

.description-project {
  display: inline-block;
  width: 100%;
}
.description-project p {
  padding: 50px 0 80px 0;
  display: inline-block;
  width: 100%;
  opacity: 0.7;
  color: white;
  font-size: 20px;
}

.thumbnails-avatar {
  display: inline-block;
  width: 100%;
}
.thumbnails-avatar a {
  display: inline-block;
  width: 100%;
}

s .item-project {
  position: relative;
  text-align: center;
  display: inline-block !important;
}

.container {
  max-width: 1294px;
  padding: 0;
}

.advise-body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.services-other {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  background: #F4F6FD;
  padding: 30px 50px;
}
.services-other p {
  font-size: 20px;
  padding: 10px 0;
}

.advise-section {
  padding-top: 0;
  padding-bottom: 40px;
  padding: 0 !important;
}
.advise-section h6 {
  font-size: 36px;
}
.advise-section p {
  font-size: 18px;
}

.why-choice {
  padding: 60px 0;
}

.photo-founder {
  max-width: 520px;
  width: 100%;
}
.photo-founder img {
  width: 100%;
}

.other-founder {
  margin-top: 15px;
}
.other-founder b {
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #2B00D5;
}
.other-founder span {
  font-size: 16px;
  font-family: "Google Sans";
  color: #2B00D5;
  border-left: 1px solid #726E84;
  height: 20px;
  margin-left: 15px;
  padding-left: 15px;
}

.think-section {
  animation: fadeIn 3s;
}
.think-section .row {
  display: flex;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.content-think-founder {
  position: relative;
  max-width: 600px;
  float: right;
}
.content-think-founder::before {
  content: "";
  display: inline-block;
  background: url(../images/think.svg) no-repeat;
  width: 240px;
  height: 240px;
  position: absolute;
  left: -90px;
  top: -100px;
}
.content-think-founder p {
  font-size: 32px;
}

.body-whychoice {
  background: #3392A0;
  padding: 50px;
}
.body-whychoice h5 {
  font-size: 22px;
  margin-top: 80px;
  color: white;
}
.body-whychoice p {
  font-size: 16px;
  opacity: 0.7;
  color: white;
}
.body-whychoice h3 {
  font-size: 46px;
  color: white;
}

.advise-footer {
  padding-bottom: 60px !important;
}
.advise-footer .button-advise {
  position: relative;
}
.advise-footer .button-advise img.feedbacksoon {
  position: absolute;
  right: -240px;
  bottom: -10px;
}

.advise-logo {
  margin-bottom: -361px;
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

.button-advise {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.button-advise .button-chat-primary {
  margin-top: 0;
  margin-right: 14px;
}
.button-advise .button-primary-content a {
  width: -moz-max-content;
  width: max-content;
  height: 64px;
}

.paging__prev {
  height: 52px;
  width: 52px;
  font-size: 0px;
  display: flex;
  border-radius: 100px;
  content: "";
  display: inline-block;
  background: #fff url(../images/prev-slick.svg) no-repeat center;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 25px;
  z-index: 9;
  top: 45%;
}

.paging__next {
  height: 52px;
  width: 52px;
  display: flex;
  font-size: 0px;
  background-color: white;
  border-radius: 100px;
  content: "";
  display: inline-block;
  background: #fff url(../images/next-slick.svg) no-repeat center;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 25px;
  z-index: 9;
  top: 45%;
}

/*--css slider project--*/
.section-slider {
  position: relative;
}
.section-slider__head {
  max-width: 400px;
  padding-bottom: 60px;
}
.section-slider__entry {
  font-size: 24px;
}
.section-slider__title {
  margin-bottom: 0;
}

/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */
.slider {
  counter-reset: projects-counter;
}
.slider .dragged .thumb {
  transform: scale(0.95);
}
.slider__paging {
  display: none;
}
.slider__clip {
  overflow: visible;
}

/* ------------------------------------------------------------ *\
	Paging
\* ------------------------------------------------------------ */
.paging {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.paging__next, .paging__prev {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  padding: 14px 7px;
  border: 0;
  border-radius: 0;
  background: transparent;
}
.paging__next:hover, .paging__prev:hover {
  color: #4CC2C5;
}

/* ------------------------------------------------------------ *\
	Link More
\* ------------------------------------------------------------ */
.link-more {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  border: 0;
  border-radius: 0;
  background: transparent;
  font-size: 18px;
  font-weight: 800;
  color: inherit;
  text-decoration: none;
  transition: text-shadow 0.3s;
}
.link-more svg {
  display: inline-block;
  margin-top: 2px;
  margin-left: 15px;
}
.link-more:hover svg {
  animation: moveArrow 1s infinite;
}

@keyframes moveArrow {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
/* ------------------------------------------------------------ *\
	Cursor
\* ------------------------------------------------------------ */
.cursor {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
.cursor.visible {
  opacity: 1;
  visibility: visible;
}
.cursor__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -80%) scale(0.7);
  width: 100px;
  height: 100px;
  border: 1px solid currentColor;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 300;
  transition: transform 0.3s;
}
.visible .cursor__inner {
  transform: translate(-50%, -80%) scale(1);
}

.cursor__inner {
  background: #2B00D5;
  border: 0;
  color: white !important;
  text-align: center;
}

.box {
  height: 40px;
  overflow: hidden;
  position: relative;
}

.box::before {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  content: "";
  position: absolute;
}

.box::after {
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  content: "";
  position: absolute;
}
@keyframes scrollUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-80%);
  }
}
.services-section {
  padding: 60px 0 0 0;
}
.services-section.mb {
  display: none;
}

footer {
  padding: 60px 0 !important;
  float: left;
  width: 100%;
  padding-top: 100px !important;
}

.infor-company {
  max-width: 450px;
}
.infor-company p {
  margin-top: 20px;
}

.link-menu-footer {
  display: inline-block;
  width: 100%;
}
.link-menu-footer b {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}
.link-menu-footer .link-footer {
  display: inline-block;
  width: 100%;
}
.link-menu-footer .link-footer a {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  color: #0F0928;
}

.box-link-footer {
  display: flex;
  justify-content: space-between;
}

.nav-header .nav-header-body.active .button-primary-content.outline {
  margin-right: 0 !important;
}

.body-whychoice > .row {
  align-items: center;
}

.header-page-detail {
  display: inline-block;
  width: 100%;
  padding-top: 165px;
  padding-bottom: 0 !important;
}

.description-course-main {
  position: relative;
  display: inline-block;
  margin-top: 80px;
  width: 100%;
}
.description-course-main p {
  font-size: 18px;
  color: #0F0928;
}

.body-course-section .box-content-course {
  display: inline-block;
  width: 100%;
  padding: 30px;
  background: #F4F6FD;
}
.body-course-section .box-content-course h6 {
  display: flex;
}
.body-course-section .box-content-course h6 img {
  margin-right: 8px;
}
.body-course-section .box-content-course h6 span {
  color: #2B00D5;
}

.item-cate-course {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  padding: 30px;
  background: white;
  box-shadow: 0px var(--unit-1--8, 8px) 14px 0px rgba(0, 0, 0, 0.05);
}
.item-cate-course b {
  display: inline-block;
  width: 100%;
}
.item-cate-course .item-in-course {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  padding-left: 15px;
}
.item-cate-course .item-in-course p {
  position: relative;
  padding-left: 30px;
  margin-bottom: 0;
}
.item-cate-course .item-in-course p img {
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
}
.item-cate-course .item-in-course label {
  font-size: 14px;
  color: #726E84;
}

.info-course-detail {
  max-width: 950px;
  margin: auto;
  text-align: center;
  padding-top: 122px;
}
.info-course-detail img {
  max-width: 100%;
}
.info-course-detail .button-primary-content.signup-course {
  position: relative;
}
.info-course-detail .button-primary-content.signup-course::after {
  position: absolute;
  bottom: -39px;
  left: 13px;
  content: "";
  display: inline-block;
  background: url(../images/signup.svg) no-repeat center;
  width: 209px;
  height: 37px;
  background-size: contain;
}
.info-course-detail .button-primary-content.outline {
  margin-right: 20px !important;
}
.info-course-detail .button-primary-content a {
  margin-right: 0 !important;
}
.info-course-detail h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  max-width: 100%;
  color: #2B00D5;
  margin-bottom: 70px;
}

.description-main-course {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  align-items: center;
}
.description-main-course .item-main-course {
  padding: 0 10px;
  position: relative;
  text-align: left;
  padding-left: 70px;
}
.description-main-course .item-main-course img {
  position: absolute;
  left: 0;
  top: -5px;
  width: 54px;
}
.description-main-course .item-main-course b {
  font-size: 20px;
  font-family: "Google Sans Bold";
  color: #2B00D5;
  line-height: 20px;
  width: 100%;
  text-align: left;
}
.description-main-course .item-main-course span {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  color: #726E84;
  font-family: "Google Sans";
}

.form-inline {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.form-inline textarea {
  display: inline-block;
  width: 100%;
  border: 1px solid #D9D8DD;
  height: 100px;
  padding: 15px;
}

.box-rating-comment-popup {
  margin-top: 10px;
}

.infor-head-course {
  margin-bottom: 20px;
  margin-top: -20px;
}

.alert-tolltip {
  position: fixed;
  background: #3AAF00;
  height: 55px;
  color: white;
  padding: 0 20px 0 15px;
  top: 15px;
  right: 15px;
  z-index: 99;
  display: flex;
  align-items: center;
}
.alert-tolltip img {
  margin-right: 8px;
}

.simple-spinner {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(43, 0, 213, 0.568627451);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.simple-spinner span {
  display: block;
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-right-color: rgba(255, 255, 255, 0.7);
  animation: spinner-anim 0.8s linear infinite;
}

@keyframes spinner-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/*--rating css--*/
.rating-section .box-rating-default {
  display: inline-block;
  text-align: left;
  padding: 20px;
  background: #F4F6FD;
  width: 100%;
}
.rating-section .box-rating-focus {
  margin-top: 15px;
}
.rating-section #full-stars-example-two {
  float: left;
  width: 100%;
  text-align: left;
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  /* make hover effect work properly in IE */
  /* hide radio inputs */
  /* hide 'none' input from screenreaders */
  /* set icon padding and size */
  /* set default star color */
  /* if any input is checked, make its following siblings grey */
  /* make all stars orange on rating group hover */
  /* make hovered input's following siblings grey on hover */
}
.rating-section #full-stars-example-two .rating-group {
  display: inline-flex;
}
.rating-section #full-stars-example-two .rating__icon {
  pointer-events: none;
}
.rating-section #full-stars-example-two .rating__input {
  position: absolute !important;
  left: -9999px !important;
}
.rating-section #full-stars-example-two .rating__input--none {
  display: none;
}
.rating-section #full-stars-example-two .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating-section #full-stars-example-two .rating__icon--star {
  color: white;
  background: #2B00D5;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating-section #full-stars-example-two .rating__input:checked ~ .rating__label .rating__icon--star {
  color: white;
  background: border-box;
  background: #D9D8DD;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating-section #full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
  color: white;
  background: #2B00D5;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating-section #full-stars-example-two .rating__input:hover ~ .rating__label .rating__icon--star {
  color: white;
  background: #D9D8DD;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating-section .box-user-rating {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  margin-top: 30px;
  border-top: 1px solid #D9D8DD;
  border-bottom: 1px solid #D9D8DD;
  width: 100%;
  padding-left: 200px;
}
.rating-section .box-user-rating img {
  position: absolute;
  width: 150px;
  left: 0;
  top: 30px;
}
.rating-section .total-rating {
  display: flex;
  align-items: center;
}
.rating-section .total-rating b {
  font-size: 34px;
  color: #2B00D5;
  margin-right: 8px;
}
.rating-section .total-rating b span {
  font-size: 20px;
}
.rating-section .total-rating label {
  margin-bottom: 0;
  font-size: 18px;
  color: #726E84;
}
.rating-section .star-rating {
  display: flex;
  align-items: center;
  margin-right: 4px;
}
.rating-section .star-rating img {
  margin-right: 4px;
}
.rating-section .body-rating {
  max-width: 950px;
  width: 100%;
  margin: auto;
}
.rating-section .body-rating .body-rating-content {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
}
.rating-section .body-list-comment {
  display: inline-block;
  width: 100%;
}
.rating-section .body-list-comment .item-comment {
  border-bottom: 1px solid #D9D8DD;
  display: inline-block;
  width: 100%;
  padding-left: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.rating-section .body-list-comment .item-comment .avatar-name-comment {
  position: absolute;
  left: 0;
  top: 20px;
  width: 150px;
}
.rating-section .body-list-comment .item-comment .avatar-name-comment b {
  display: inline-block;
  width: 100%;
  color: #2B00D5;
  margin-top: 5px;
}
.rating-section .content-comment {
  display: inline-block;
  width: 100%;
}
.rating-section .content-comment p {
  margin: 0;
  padding: 15px 0;
}
.rating-section .description-comment {
  display: inline-block;
  width: 100%;
}
.rating-section .description-comment .toltal-rating-time {
  display: flex;
  align-items: center;
}
.rating-section .description-comment .toltal-rating-time img {
  height: 20px;
}
.rating-section .description-comment .toltal-rating-time span {
  margin-left: 8px;
  color: #726E84;
}
.rating-section .rep-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.rating-section .rep-btn img {
  margin-right: 4px;
}
.rating-section .box-rep-comment-in-comment {
  display: inline-block;
  width: 100%;
  padding: 20px;
  padding-bottom: 0;
  margin-top: 40px;
  background: #F4F6FD;
}
.rating-section .box-rep-comment-in-comment .item-comment:nth-last-child(1) {
  border-bottom: 0;
}
.rating-section .box-rep-focus {
  display: inline-block;
  width: 100%;
}
.rating-section .box-rep-focus input {
  height: 80px;
  border: 1px solid #D9D8DD;
  padding: 15px;
  padding-top: 0;
  color: #726E84;
  width: 100%;
  margin-bottom: 20px;
}
.rating-section .box-rep-focus input:focus {
  border: 1px solid #2B00D5;
}
.rating-section .box-rep-focus input::-moz-placeholder {
  color: #9D99B0;
}
.rating-section .box-rep-focus input::placeholder {
  color: #9D99B0;
}
.rating-section .box-rep-focus .author-comment {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
.rating-section .box-rep-focus .author-comment .avatar-rep-comment-and-name {
  display: flex;
  align-items: center;
}
.rating-section .box-rep-focus .author-comment .avatar-rep-comment-and-name img {
  margin-right: 8px;
  height: 30px;
}
.rating-section .box-rep-focus .author-comment .avatar-rep-comment-and-name b {
  font-family: "Google Sans";
  font-size: 14px;
}
.rating-section .box-rep-focus .author-comment button {
  height: 40px;
  background: #2B00D5;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 0 20px;
  justify-content: center;
}
.rating-section .pagging-main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.rating-section .pagging-main .box-pagging {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  margin: auto;
}
.rating-section .pagging-main .box-pagging a {
  min-width: 55px;
  padding: 0 15px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D9D8DD;
  border-right: 0;
  color: #726E84;
}
.rating-section .pagging-main .box-pagging a:nth-last-child(1) {
  border-right: 1px solid #D9D8DD;
}
.rating-section .pagging-main .box-pagging a.active {
  background: #2B00D5;
  color: white;
  border-color: #2B00D5;
}

/*--end rating css--*/
@media only screen and (max-width: 1400px) {
  .item-services.flex .content-project {
    display: flex;
    padding: 32px 30px;
  }
}
@media only screen and (max-width: 1295px) {
  section {
    padding: 30px 15px !important;
  }
  .swiper-slide {
    margin: 0 !important;
    margin-right: 15px !important;
  }
  .hero-slider {
    padding-top: 125px !important;
    margin-bottom: 0;
  }
  .description-hero p {
    font-size: 16px;
  }
  h1 {
    font-size: 54px;
  }
  h1 span {
    font-size: 38px;
  }
  .button-chat-primary a span {
    font-size: 14px;
  }
  .button-primary .button-primary-content a {
    font-size: 14px;
  }
  .button-advise .button-primary-content a,
  .button-chat-primary a {
    height: 54px;
  }
  .button-chat-primary a img {
    height: 35px;
  }
  .button-chat-primary {
    width: -moz-fit-content;
    width: fit-content;
  }
  .item-course h6 a {
    font-size: 18px;
  }
  .nav-menu-content nav ul li a {
    font-size: 22px;
    text-decoration: none;
    padding: 10px 0;
    opacity: 0.7;
  }
  .item-course .infor-video b, .infor-video {
    display: inline-block !important;
    width: 100%;
  }
  .item-course .infor-video b {
    margin-bottom: 5px;
  }
  .item-course h6 {
    margin-bottom: 5px;
  }
  header, footer {
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
  }
  footer {
    overflow: hidden;
    padding: 30px 15px !important;
  }
  .feedbacksoon {
    margin-left: 10px;
    width: 180px;
  }
  .advise-logo {
    margin-bottom: -201px;
    display: inline-block;
    width: 100%;
    max-width: 310px;
  }
  .body-whychoice {
    background: #3392A0;
    padding: 20px;
  }
  .content-think-founder p {
    font-size: 26px;
  }
  .services-other {
    padding: 30px 20px;
  }
  .item-services .content-project {
    padding: 23px;
    align-items: center;
  }
  .advise-footer .button-advise img.feedbacksoon {
    position: absolute;
    right: -140px;
  }
  .body-whychoice h3 {
    font-size: 36px;
    color: white;
  }
  .item-project {
    width: 100%;
    max-width: initial !important;
  }
  .item-services.flex .content-project {
    padding: 27.5px 21px !important;
  }
}
@media only screen and (max-width: 1110px) {
  .item-services.flex .content-project {
    padding: 10px 21px !important;
  }
  .photo-founder {
    max-width: 310px;
    width: 100%;
  }
  .content-think-founder::before {
    content: "";
    display: inline-block;
    background: url(../images/think.svg) no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left: -90px;
    top: -60px;
    background-size: contain;
  }
}
@media only screen and (max-width: 960px) {
  .feedbacksoon {
    margin-left: 10px;
    width: 180px;
  }
  .nav-menu-content .nav-menu-bodycontent {
    max-width: 400px;
  }
  .logo-brands-content .item-logo {
    padding: 10px 0 !important;
  }
  .logo-brands-content .item-logo img {
    height: 55px;
  }
  .advise-logo {
    margin-bottom: -191px;
    display: inline-block;
    width: 100%;
    max-width: 300px;
  }
  .body-whychoice {
    background: #3392A0;
    padding: 30px;
  }
  .body-whychoice .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .content-think-founder {
    max-width: 400px;
  }
  .think-section img.feedbacksoon {
    display: none !important;
  }
  .content-think-founder::before {
    width: 190px;
    height: 190px;
    left: -40px;
    top: -50px;
    background-size: contain;
  }
}
@media only screen and (max-width: 767px) {
  .rating-section .total-rating {
    flex-wrap: wrap;
  }
  .rating-section .box-user-rating {
    padding-left: 0;
  }
  .rating-section .box-user-rating img {
    left: 0;
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
    top: 0;
  }
  .rating-section .item-comment {
    padding-left: 0 !important;
  }
  .rating-section .item-comment .avatar-name-comment {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    margin-bottom: 15px;
  }
  .rating-section .author-comment {
    margin-bottom: 20px;
  }
  .rating-section .pagging-main .box-pagging a {
    min-width: 40px;
    padding: 0 5px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D8DD;
    border-right: 0;
    color: #726E84;
  }
  .description-main-course {
    flex-wrap: wrap;
  }
  .description-main-course .item-main-course {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 20px;
  }
  .item-cate-course {
    padding: 15px;
  }
  .body-course-section .box-content-course {
    padding: 15px;
  }
  .info-course-detail .button-primary-content.outline {
    margin-right: 0 !important;
    margin-bottom: 20px;
  }
  .box-get-vaulue {
    padding: 15px;
  }
  .box-get-vaulue .col-md-4:nth-last-child(1) .item-get-value {
    margin-bottom: 0;
  }
  .feedbacksoon {
    margin-left: 10px;
    width: 230px;
    float: left;
    margin-top: 10px;
  }
  .button-chat-primary {
    margin-top: 30px;
    display: inline-block;
  }
  .nav-menu-content .nav-menu-bodycontent {
    max-width: 400px;
  }
  .logo-brands-content .item-logo {
    padding: 10px 0 !important;
  }
  .logo-brands-content .item-logo img {
    height: 55px;
  }
  .advise-logo {
    margin-bottom: -191px;
    display: inline-block;
    width: 100%;
    max-width: 300px;
  }
  .body-whychoice {
    background: #3392A0;
    padding: 15px;
  }
  .body-nav-header > .button-primary .button-primary-content:nth-child(1) {
    display: none;
  }
  .body-nav-header > .button-primary .button-primary-content:nth-child(2) a {
    width: 52px !important;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    background: #F4F6FD !important;
    font-size: 0px;
    position: relative;
  }
  .body-nav-header > .button-primary .button-primary-content:nth-child(2) a::after {
    width: 52px;
    height: 52px;
    content: "";
    display: inline-block;
    position: absolute;
    left: 13px;
    top: 11px;
    background: url(../images/account.svg) no-repeat;
    opacity: 0.7;
  }
  .body-nav-header > .button-primary .button-primary-content:nth-child(2) a b {
    display: none;
  }
  .body-whychoice .col-md-4, .services-other .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .content-think-founder {
    max-width: 400px;
  }
  .think-section img.feedbacksoon {
    display: none !important;
  }
  .button-advise {
    flex-wrap: wrap;
  }
  .button-advise .button-chat-primary {
    margin-bottom: 15px;
  }
  .advise-content {
    padding: 0 15px;
  }
  .advise-section p {
    font-size: 16px;
  }
  .content-think-founder::before {
    width: 190px;
    height: 190px;
    left: -40px;
    top: -50px;
    background-size: contain;
  }
  .hero-slider {
    padding-top: 65px !important;
  }
  .photo-founder {
    margin-bottom: 40px;
  }
  .services-other p {
    font-size: 14px;
    margin-bottom: 0;
  }
  .services-other {
    padding-top: 10px;
    margin-top: 0;
    padding-bottom: 10px;
  }
  .avatar-why-choice img {
    margin-top: 15px;
  }
  .body-whychoice h5 {
    font-size: 18px;
    margin-top: 40px;
  }
  .item-course {
    margin-bottom: 30px;
  }
  .price-box b, .price-box span {
    font-size: 15px;
  }
  .content-think-founder::before {
    width: 190px;
    height: 190px;
    left: -14px;
    top: -50px;
  }
  .content-think-founder p {
    padding-top: 50px;
  }
  .advise-footer .feedbacksoon {
    display: none;
  }
  .link-footer {
    margin-bottom: 30px;
  }
  .item-project {
    width: 100%;
    max-width: 359px;
  }
  footer {
    background: #F4F6FD;
  }
  .advise-footer {
    margin-top: 30px;
  }
  .logo-brands-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .logo-brands-content .item-logo {
    border: 0;
  }
  .item-services.flex .content-project {
    padding: 15px;
  }
  .item-services.flex .content-project h5 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 3px;
  }
  .item-services.flex .content-project img {
    height: 120px;
  }
  .item-services.flex p {
    display: none;
  }
  .swiper-slide {
    margin: 0 !important;
    margin-right: -7px !important;
  }
  .services-section {
    padding: 60px 0 0 0;
  }
  .services-section.pc {
    display: none;
  }
  .services-section.mb {
    display: inline-block;
  }
  .thumbnails-avatar {
    text-align: center;
  }
  .item-services .item-project h5 a {
    font-size: 18px;
  }
  .item-services.flex .content-project {
    padding: 10px !important;
  }
  .body-whychoice h3 {
    font-size: 24px;
    color: white;
    line-height: 34px;
  }
  .body-whychoice p {
    font-size: 13px;
  }
  .nav-menu-content .nav-menu-bodycontent {
    max-width: 350px;
    padding: 0 20px;
  }
  .nav-menu-content .connect-partner .button-primary span {
    width: 180px;
  }
  h1 span {
    font-size: 30px;
  }
  h1 {
    font-size: 44px;
  }
  .logo-brands-content .item-logo {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .link-menu-footer b {
    margin-bottom: 5px;
  }
  .infor-company img {
    height: 70px;
  }
  .link-menu-footer .link-footer a {
    color: #726E84;
  }
  .description-main-course .item-main-course img {
    width: 36px;
  }
  .description-main-course .item-main-course {
    padding-left: 47px;
  }
}
@media only screen and (max-width: 600px) {
  .photo-founder {
    max-width: 100% !important;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */