
@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: normal;
    src: local(''), url('../fonts/GoogleSans-Regular.otf') format('woff');
    }
    

    @font-face {
    font-family: 'Google Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local(''), url('../fonts/GoogleSans-Bold.otf') format('woff');
    }

$brand-primary:#2B00D5;
$brand-primary-hover:#3401FF;
$brand-secondary:#09E2FF;
$Complementary-3:#3392A0;
$Complementary-4:#23184F;
$text-primary:#0F0928;
$text-secondary:#726E84;
$border:#D9D8DD;
$Placeholder:#9D99B0;
$Back-Gray:#F4F6FD;
body{
    font-family: 'Google Sans';
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: $text-primary;
    border: 0;
    text-decoration: none;
}
*{
    border: 0;
    text-decoration: none;
    margin: 0;
    outline: none;
    padding: 0;
}
.swiper-wrapper{
    z-index: 0 !important;
}

@mixin font-weight{
    font-family: 'Google Sans Bold';
}
header{
    display: inline-block;
    padding: 15px 0;
    width: 100%;
    position: relative;
    z-index: 1;
}
.body-header{
    display: flex;
    justify-content: space-between;
}
.nav-header{
    .button-primary-content{
        &.outline{
            margin-right: 52px;
        }
    }
    display: inline-block;
    .body-nav-header{
        display: flex;
        align-items: center;
        position: relative;
    }
}
h1, h2, h3, h4, h5, h6, b{
    font-family: 'Google Sans Bold';   
}
.infor-head-course{
    display: inline-block;
    width: 100%;
    padding: 20px;
    border: 1px solid #B1A5E0;
    background: #ece8ff;
    position: relative;
    padding-left: 52px;
    img{
        position: absolute;
        left: 20px;
        top: 23px;
    }
    p{
        margin-bottom: 0;
        color: $brand-primary;
    }
}
.button-primary{
    display: flex;
    align-items: center;
    .button-primary-content{
        a{
            display: flex;
            align-items: center;
            font-size: 15px;
            background: $brand-primary;
            width: fit-content;
            font-family: 'Google Sans Bold';   
            text-decoration: none;
            text-transform: uppercase;
            height: 52px;
            color:white;
            padding: 10px 7px 10px 30px;
            border-radius: 100px;
            border: 1px solid $brand-primary;
            margin-right: 20px;
            text-decoration: none !important;
        }
        &.outline{
            a{
                background: white !important;
                color: $brand-primary;
                
            }
            b{
                background: $brand-primary;
            }
            &:hover{
                a{
                    background: $Back-Gray !important;
                }       
                b{
                    background: $brand-primary-hover;
                }
            }
        }
        &:hover{
            a{
                background: $brand-primary-hover;
            }
        }
    }
    b{
        margin-left: 8px;
        height: 40px;
        width: 40px;
        display: flex;
        border-radius: 100px;
        align-items: center;
        justify-content: center;
        background: white;
        &.white{
            background: white;
        }
    }
}
.nav-header-body{
    &.active{
        
        .button-nav{
            position: fixed;
            button{
                &.open-nav{
                    rotate: 45deg;
                    border: 0;
                    &::before{
                        rotate: 0deg;
                        top: 26px;
                        left: 17px;
                    }
                    &::after{
                        rotate: 90deg;
                        top: 26px;
                        left: 17px;
                    }
                }
            }
        }
        .nav-menu-content{
            display: flex !important;
        }        
    }
}

.content-popup-body{
    display: inline-block;
    position: relative;
    width: 100%;
    .button-close{
        position: absolute;
        right: 15px;
        top: 15px;
    }
}
.signup-button{
    display: inline-block;
    width: 100%;
    margin: 30px 0;
    text-align: center;
    a{
        color:$brand-primary;
    }
}
.login-with-google{
    background: white;
    display: inline-block;
    width: 100%;
    a{
        border: 1px solid $Complementary-4;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: $Complementary-4;
        font-size: 15px;
        font-family: 'Google Sans Bold';
        img{
            margin-left: 5px;
        }
    }
}
.form-popup{
    padding: 20px 30px;
    .form-group{
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
    }
    label{
        display: inline-block;
        width: 100%;
    }
    input{
        height: 50px;
        display: inline-block;
        width: 100% !important;
        border-radius: 0px;
        border: 1px solid $border;
        &:focus{
            border: 1px solid $brand-primary;
        }
    }
}
.content-popup{
    max-width: 400px;
    width: 100%;
    min-height: 200px;
    position: relative;
    z-index: 99;
    background: white;
    box-shadow: 0px 46px 60px 0px rgba(0, 0, 0, 0.06);
    padding: 0;
    .title-left-infor-right-button{
        padding:10px 30px;
        margin-bottom: 15px;
    }
}
.button-close{
    cursor: pointer;
}
.button-login-popup{
    display: inline-block;
    width: 100%;
   button{
    height: 52px;
    background: $brand-primary;
    color: white;
    width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Google Sans Bold';
    &:hover{
        background: $brand-primary-hover;
    }
   }
}

.popup-login{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    &.active{
        display: flex;
    }
    &::before{
        content: '';
        display: inline-block;
        background: black;
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: .85;
    }
}
.nav-menu-content{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    
    &::before{
        position: fixed;
        left: 0;
        display: inline-block;
        top: 0;
        width: 100%;
        content: '';
        height: 100%;
        background: white;
        opacity: .85;
    }
    .nav-menu-bodycontent{
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        max-width: 744px;
        background:$brand-primary;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        animation: mymove 5s infinite;
     animation-delay: 2s;
    }
    nav{
        z-index: 9;
        position: relative;
        display: inline-block;
        width: 100%;
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                a{
                    font-size: 28px;
                    text-decoration: none;
                    padding: 5px 0 !important;
                    margin-bottom: 15px;
                    display: inline-block;
                    width: fit-content;
                    color: #c8baff;
                    position: relative;
                    opacity: 1;
                    &.active{
                        opacity: 1;
                        color: $brand-secondary;
                    }
                    &::before{
                        content: "";
                        width: 100%;
                        height: 2px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background: $brand-secondary;
                        transform-origin: 100% 50%;
                        transition: 0.5s transform ease;
                        transform: scale3d(0,1,1);
                        transform-origin: 0 50%;
                      }
                      &:hover, &.active{
                        color: $brand-secondary;
                        &::before{
                            transform-origin: 0 50%;
                            transform: scale3d(1,1,1);
                        }
                      }
                }
                &:hover{
                    a{
                        opacity: 1;
                    }
                }
            }
        }
    }
    .connect-partner{
        position: relative;
        z-index: 9;
        display:flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: flex-end;
        padding-bottom: 40px;
        label{
            display: inline-block;
            width: 100%;
            text-align: center;
            color: white;
            font-size: 18px;
        }
        .button-primary{
            display: inline-block;
            width: 100%;
            margin: 70px 0;
            text-align: center;
            margin-top: 10px;
            b{
                opacity: 1;
                background: $brand-primary;
            }
            a{
                margin: auto;
                border: 0;
            }
            span{
                width: 260px;
                color: $Complementary-4;
            }
        }
        .partner-link{
            display: inline-block;
        width: 100%;
        text-align: center;
            span{
                display: inline-block;
                opacity: .7;
                color: white;
                width: 100%;
                font-size: 18px;
                text-align: center;
            }
            a{
                display: inline-block;
                text-align: center;
                color: white;
                width: 100%;
                font-size: 18px;
                margin-top: 10px;
                text-decoration: underline;
                text-transform: uppercase;
                &:hover{
                    color: white !important;
                }
            }
        }
    }
}
.logined-header{
    position: relative;
    margin-right: 64px;
    .block-avatar-account{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            &.avatar-logined{
                width: 52px;
                height: 52px;
                object-fit: cover;
            }
        }
        b{
            height: initial;
            display: inline-block;
            width: max-content;
            label{
                display: inline-block;
                width: 100%;
                font-size: 14px;
                font-family: 'Google Sans';
                margin-bottom: 0;
                color: $text-secondary;
            }
            span{
                font-size: 20px;
                color: $text-primary;
            }
        }
    }
}
.show-box-account{
    position: absolute;
    top: 56px;
    right: 0;
    width: 316px;
    padding: 20px;
    border-radius: 24px;
background: var(--Black-to-ALpha-Back-Gray, #F4F6FD);
box-shadow: 0px 69px 19px 0px rgba(0, 0, 0, 0.00), 0px 44px 18px 0px rgba(0, 0, 0, 0.01), 0px 25px 15px 0px rgba(0, 0, 0, 0.05), 0px 11px 11px 0px rgba(0, 0, 0, 0.09), 0px 3px 6px 0px rgba(0, 0, 0, 0.10);
.avatar-info-head{
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
    img{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: 6px solid white;
        
    }
    span{
        display: inline-block;
        text-align: center;
        color: $text-secondary;
        font-size: 14px;
        width: 100%;
        font-family: 'Google Sans';
    }
    b{
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 20px;
        background: none;
        color: $text-primary;
    }
}
}
.box-sub-menu-account{
    border-radius: 12px;
    background: white;
    a{
        display: flex;
        align-items: center;
        padding: 20px 20px;
        border-bottom: 1px solid #F4F6FD;
        img{
            margin-right: 8px;
        }
        span{
            color: #726E84;
            font-size: 16px;
        }
    }
}
.nav-header-body{
    .button-nav{
        position: fixed;
        top: 15px;
        z-index: 9;
        margin-left: -52px;
        button{
            background: white;
            &.open-nav{
                height: 52px;
                border-radius: 100px;
                width: 52px;
                border: 1px solid $brand-primary;
                position: relative;
                &::before{
                    content: '';
                    background: $brand-primary;
                    display: inline-block;
                    width: 20px;
                    height: 2px;
                    position: absolute;
                    left: 18px;
                    top: 20px;
                    transition: 0.3s;
                }
                &::after{
                    content: '';
                    display: inline-block;
                    width: 20px;
                    background: $brand-primary;
                    height: 2px;
                    position: absolute;
                    left: 14px;
                    top: 29px;
                    transition: 0.3s;
                }
            }
            &:hover{
                background: $Back-Gray;
            }
        }
    }
}
.box-get-vaulue{
    background: $brand-primary;
    display: inline-block;
    width: 100%;
    padding: 40px;
    padding-bottom: 10px;
    .item-get-value{
        position: relative;
        display: inline-block;
        margin-bottom: 30px;
        width: 100%;
        padding-left: 120px;
        img{
            position: absolute;
            left: 0;
            top: 0;
            width: 100px;
        }
        .infor-get-value{
            position: relative;
            display: inline-block;
            min-height: 100px;
            width: 100%;
            b{
                display: inline-block;
                width: 100%; 
                font-family: 'Google Sans Bold';
                color: $brand-secondary;
            }
            span{
                color: white;
                opacity: .8;
            }
        }
    }
}
.value-section{
    display: inline-block;
    width: 100%;
    .title-left-infor-right-button{
        margin-bottom: 30px;
    }
}
.infor-course-body{
    display: inline-block;
    width: 100%;
    padding: 20px;
}
.col-md-8{
    .item-course{
        h6{
            margin-bottom: 30px;
            a{
                font-size: 30px;
            }
        }
    }
}
.hero-slider{
    display: inline-block;
    width: 100%;
    padding-top: 165px !important;
    h1{
        span{
            display: inline-block;
            width: 100%;
        }
    }
    .row{
        align-items: center;
    }
}
.infor-video .video-course{
    margin-right: 15px;
}
.item-course{
    display: inline-block;
    margin-bottom: 60px;
    width: 100%;
    background: var(--White, #FFF);
    box-shadow: 0px 46px 60px 0px rgba(0, 0, 0, 0.06);
    img{
        width: 100%;
        height: 390px;
        object-fit: cover;
    }
    .infor-course-body{
        img{
            height: 18px;
        }
    }
    h6{
        margin-top: 0;
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
        a{
            display: inline-block;
            width: 100%;
            color: $text-primary;
            font-size: 22px;
            min-height: 51px;
            line-height: 30px;
        }
    }
    .infor-video{
        display: flex;
        margin-bottom: 15px;
        width: 100%;
        align-items: center;
        b{
            font-size: 14px;
            display: flex;
            img{
                margin-right: 4px;
                width: 18px;
            }
            span{
                margin-left: 4px;
                color: $text-secondary;
                font-weight: normal !important;
                font-family: 'Google Sans';
            }
            &.video-course{
                span{
                    padding-left: 4px;
                    margin-left: 4px;
                    border-left: 1px solid $border;
                    height: 20px;
                }
            }
        }
    }
}
.price-box{
    display: inline-block;
    width: 100%;
    b{
        font-size: 18px;
        color: $brand-primary;
    }
    span{
        color: $text-secondary;
        text-decoration: line-through;
        margin-left: 10px;
    }
}
section{
    overflow: hidden;
    float: left;
    animation: fadeIn 3s;
    width: 100%;
    padding: 60px !important;
}
.head-hero{
    max-width: 542px;
    b{
        display: inline-block;
        width: 100%;
        font-size: 18px;
        text-transform: uppercase;
        img{
            height: 28px;
        }
    }
}
.why-choice-course{
    .body-whychoice{
        background: $brand-primary !important;   
    }
}
h1{
    max-width: 542px;
    position: relative;
    margin-top: 0;
    span{
        font-size: 55px;
        color: $brand-primary;
    }
    font-size: 75px;
    color: $text-primary;
}
.description-hero{
    p{
        font-size: 20px;
    }
}
.avatar-why-choice{
    display: inline-block;
    width: 100%;
    img{
        display: inline-block;
    width: 100%;
    }
}
.button-chat-primary{
    width: 100%;
    margin-top: 30px;
    display: flex;
    a{
        display: flex;
        padding: 5px 12px 5px 30px;
        height: 64px;
        border-radius: 100px;
        align-items: center;
        background: $brand-primary;
        @include font-weight();
        &:hover{
            background: $brand-primary-hover;
        }
        span{
            color: white;
            text-transform: uppercase;
            margin-right: 8px;
            font-size: 15px;
            text-wrap: nowrap;
        }
        img{
            height: 45px;
        }
    }
}
.feedbacksoon{
    margin-left: 10px;
}
.video-section{
    video{
        width: 100%;
        display: inline-block;
    }
}
.logo-brands{
    padding: 60px 0;
}
.logo-brands-content{
    display: flex;
    justify-content: center;
    .item-logo{
        text-align: center;
        border-right: 1px solid $border;
        padding:15px 30px;
        img{
            height: 70px;
        }
        &:nth-last-child(1){
            border: 0;
        }
    }
}
.project-section{
    position: relative;
    
}
.title-section{
    margin-bottom: 30px;
    width: 100%;
    font-size: 15px;
    color: #0F0928;
    position: relative;
    font-family: "Google Sans Bold";
    display: flex;
    align-items: center;
    padding-left: 15px;
    text-transform: uppercase;
    &::before{
        width: 3px;
        content: '';
        display: inline-block;
        height: 20px;
        position: absolute;
        left: 0;
        background: $brand-primary;
    }
}
.item-project{
    width: 100%;
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding: 0;
    &.item-services{
        h5{
            a{
                font-size: 32px;
                text-decoration: none;
                color: white;
            }
            margin-bottom: 0;
        }
        p{
            padding-top: 15px !important;
        }
    }
}
.item-services{
    &.flex{
        margin-bottom: 14px;
        .thumbnails-avatar{
            margin-right: 20px;
        }
        h5{
            text-align: left;
        }
        .content-project{
            padding-left: 10px !important;
            p{
                text-align: left;
            }
        }
    }
    .content-project{
        padding: 30px;
        align-items: center;
        p{
            font-size: 16px;
        }
    }
    .item-project{
        h5{
            margin-top: 55px;
            a{
                font-size: 24px;
                text-decoration: none;
                color: white;
            }
            margin-bottom: 0;
        }
        p{
            padding-top: 15px !important;
            padding-bottom: 20px !important;
        }
    }
    &.flex{
        .content-project{
            display: flex;
            padding: 27.5px 30px;
        }
    }
}
.bg-project-item{
    display: inline-block;
    width: 100%;
    height: -moz-max-content;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    background-size: cover !important;
}
.content-project{
    position: relative;
    z-index: 1;
    padding: 40px;
    display: inline-block;
    width: 100%;
    img{
        max-width: 100%;
    }
    .logo-project{
        img{
            height: 36px;
            margin-bottom: 20px
        }
    }
}
.title-left-infor-right-button{
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    .title-section{
        margin-top: 14px;
        margin-bottom: 0;
    }
    .button-view-all{
        position: absolute;
        right: 0;
        top: 0;
        a{
            margin-right: 0;
        }
    }
}
.description-project{
    display: inline-block;
    width: 100%;
    p{
        padding: 50px 0 80px 0;
        display: inline-block;
        width: 100%;
        opacity: .7;
        color: white;
        font-size: 20px;
    }
}
.thumbnails-avatar{
    display: inline-block;
    width: 100%;
    a{
        display: inline-block;
    width: 100%;
    }
}
s

.item-project {
    position: relative;
    text-align: center;
    display: inline-block !important;
  }
.container{
    max-width: 1294px;
    padding: 0;
}
.advise-body{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.services-other{
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    background: $Back-Gray;
    padding:30px 50px;
    p{
        font-size: 20px;
        padding: 10px 0;
    }
}
.advise-section{
    padding-top: 0;
    padding-bottom: 40px;
    padding: 0 !important;
    h6{
        font-size: 36px;
    }
    p{
        font-size: 18px;
    }
}
.why-choice{
    padding: 60px 0;
}
.photo-founder{
    max-width: 520px;
    width: 100%;
    img{
        width: 100%;
    }
}
.other-founder{
    margin-top: 15px;
    b{
        font-size: 24px;
        display: flex;
        align-items: center;
        color: $brand-primary;
    }
    span{
        font-size: 16px;
        font-family: 'Google Sans';
        color: $brand-primary;
        border-left: 1px solid $text-secondary;
        height: 20px;
        margin-left: 15px;
        padding-left: 15px;
    }
}
.think-section{
    animation: fadeIn 3s;
    .row{
        display: flex;
        align-items: center;
    }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
.content-think-founder{
    position: relative;
    max-width: 600px;
    float: right;
    &::before{
        content: '';
        display: inline-block;
        background: url(../images/think.svg) no-repeat;
        width: 240px;
        height: 240px;
        position: absolute;
        left: -90px;
        top: -100px;
    }
    p{
        font-size: 32px;
    }
}
.body-whychoice{
    background: $Complementary-3;
    padding: 50px;
    h5{
        font-size: 22px;
        margin-top: 80px;
        color: white;
    }
    p{
        font-size: 16px;
        opacity: .7;
        color: white;
    }
    h3{
        font-size: 46px;
        color: white;
    }
}
.advise-footer{
    padding-bottom: 60px !important;
    .button-advise{
        position: relative;
        img{
            &.feedbacksoon{
                position: absolute;
                right: -240px;
                bottom: -10px;
            }
        }
    }
}
.advise-logo{
    margin-bottom: -361px;
    display: inline-block;
    width: 100%;
    max-width: 500px;
}
.button-advise{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    .button-chat-primary{
        margin-top: 0;
        margin-right: 14px;
    }
    .button-primary-content{
        a{
            width: max-content;
            height: 64px;
        }
    }
}
  .paging__prev{
    height: 52px;
    width: 52px;
    font-size: 0px;
    display: flex;
    border-radius: 100px;
    content: '';
    display: inline-block;
    background:#fff url(../images/prev-slick.svg) no-repeat center;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 25px;
    z-index: 9;
    top: 45%;

  }
  .paging__next{
    height: 52px;
    width: 52px;
    display: flex;
    font-size: 0px;
    background-color: white;
    border-radius: 100px;
    content: '';
    display: inline-block;
    background:#fff url(../images/next-slick.svg) no-repeat center;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 25px;
    z-index: 9;
    top: 45%;
  }

  /*--css slider project--*/

.section-slider {
	position: relative;

	&__head {
    max-width: 400px;
		padding-bottom: 60px;
	}
  
  &__entry {
    font-size: 24px;
  }

	&__title {
		margin-bottom: 0;
	}
}

/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */

.slider {
	counter-reset: projects-counter;

	.dragged {
		.thumb {
			transform: scale(.95);
		}
	}

	&__paging {
		display: none;
	}

	&__clip {
		overflow: visible;
	}
}




/* ------------------------------------------------------------ *\
	Paging
\* ------------------------------------------------------------ */

.paging {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	&__next,
	&__prev {
		display: inline-flex;
		vertical-align: middle;
		justify-content: center;
		align-items: center;
		padding: 14px 7px;
		border: 0;
		border-radius: 0;
		background: transparent;

		&:hover {
			color: #4CC2C5;
		}
	}
}

/* ------------------------------------------------------------ *\
	Link More
\* ------------------------------------------------------------ */

.link-more {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
	border: 0;
	border-radius: 0;
	background: transparent;
	font-size: 18px;
	font-weight: 800;
	color: inherit;
	text-decoration: none;
	transition: text-shadow .3s;

	svg {
		display: inline-block;
		margin-top: 2px;
		margin-left: 15px;
	}

	&:hover {
		svg {
			animation: moveArrow 1s infinite;
		}
	}
}

@keyframes moveArrow {
	0% {
		transform: translateX(0px)
	}
	30% {
		transform: translateX(10px)
	}
	100% {
		transform: translateX(0px)
	}
}

/* ------------------------------------------------------------ *\
	Cursor
\* ------------------------------------------------------------ */

.cursor {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s, visibility .3s;

	&.visible {
		opacity: 1;
		visibility: visible;
	}

	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translate(-50%, -80%) scale(.7);
		width: 100px;
		height: 100px;
		border: 1px solid currentColor;
		border-radius: 50%;
		font-size: 20px;
		font-weight: 300;
		transition: transform .3s;

		.visible & {
			transform: translate(-50%, -80%) scale(1);
		}
	}
}


.cursor__inner{
    background: $brand-primary;
    border: 0;
    color: white !important;
    text-align: center;
}





.box {
    height: 40px;
    overflow: hidden;
    position: relative;
  }
  .box::before {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    content: '';
    position: absolute;
  }
  .box::after {
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    content: '';
    position: absolute;
  }
  
  
  @-webkit-keyframes scrollUp {
    from {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-80%);
              transform: translateY(-80%);
    }
  }
  
  @keyframes scrollUp {
    from {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-80%);
              transform: translateY(-80%);
    }
  }
  .services-section{
    padding: 60px 0 0 0;
    &.mb{
        display: none;
    }
  }
  footer{
    padding: 60px 0 !important;
    float: left;
    width: 100%;
    padding-top: 100px !important;
  }
  .infor-company{
    max-width: 450px;
    p{
        margin-top: 20px;
    }
  }
  .link-menu-footer{
    display: inline-block;
    width: 100%;
    b{
        margin-bottom: 20px;
        display: inline-block;
    width: 100%;
    }
    .link-footer{
        display: inline-block;
        width: 100%;
        a{
            display: inline-block;
            width: 100%;
            padding: 5px 0;
            color: $text-primary;
        }
    }
  }
  .box-link-footer{
    display: flex;
    justify-content: space-between;
  }
  .nav-header .nav-header-body.active .button-primary-content.outline{
    margin-right: 0 !important;
  }
.body-whychoice > .row{
    align-items: center;
}
.header-page-detail{
    display: inline-block;
    width: 100%;
    padding-top: 165px;
    padding-bottom: 0 !important;
}
.description-course-main{
    position: relative;
    display: inline-block;
    margin-top: 80px;
    width: 100%;
    p{
        font-size: 18px;
        color: $text-primary;
    }
}
.body-course-section{
    
    .box-content-course{
        display: inline-block;
        width: 100%;
        padding: 30px;
        background: $Back-Gray;
        h6{
            display: flex;
            img{
                margin-right: 8px;
            }
            span{
                color: $brand-primary;
            }
        }
    }
}
.item-cate-course{
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    padding: 30px;
    background: white;
    box-shadow: 0px var(--unit-1--8, 8px) 14px 0px rgba(0, 0, 0, 0.05);
    b{
        display:inline-block;
        width: 100%;
    }
    .item-in-course{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 15px;
        padding-left: 15px;
        p{
            position: relative;
            padding-left: 30px;
            margin-bottom: 0;
            img{
                position: absolute;
                left: 0;
                top: 2px;
                width: 20px;
            }
        }
        label{
            font-size: 14px;
            color: $text-secondary;
        }
    }
}
.info-course-detail{
    max-width: 950px;
    margin: auto;
    text-align: center;
    padding-top: 122px;
    img{
        max-width: 100%;
    }
    .button-primary-content{

        &.signup-course{
            position: relative;
            &::after{
                position: absolute;
                bottom: -39px;
                left: 13px;
                content: '';
                display: inline-block;
                background: url(../images/signup.svg) no-repeat center;
                width: 209px;
                height: 37px;
                background-size: contain;
            }
        }
        &.outline{
            margin-right: 20px !important;
        }
        a{
            margin-right: 0 !important;
        }
    }
    h1{
        display: inline-block;
        width: 100%;
        text-align: center;
        max-width: 100%;
        color: $brand-primary;
        margin-bottom: 70px;
    }
}
.description-main-course{
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
    .item-main-course{
        padding: 0 10px;
        position: relative;
        text-align: left;
        padding-left: 70px;
        img{
            position: absolute;
            left: 0;
            top: -5px;
            width: 54px;
        }
        b{
            font-size: 20px;
            @include font-weight();
            color: $brand-primary;
            line-height: 20px;
            width: 100%;
            text-align: left;
        }
        span{
            display: inline-block;
            width: 100%;
            font-size: 16px;
            color: $text-secondary;
            font-family: 'Google Sans';
        }
    }
}
.form-inline{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    textarea{
        display: inline-block;
        width: 100%;
        border: 1px solid $border;
        height: 100px;
        padding: 15px;
    }
}
.box-rating-comment-popup{
    margin-top: 10px;
}
.infor-head-course{
    margin-bottom: 20px;
    margin-top: -20px;
}
.alert-tolltip{
    position: fixed;
    background: #3AAF00;
    height: 55px;
    color: white;
    padding: 0 20px 0 15px;
    top: 15px;
    right:15px;
    z-index: 99;
    display: flex;
    align-items: center;
    img{
        margin-right: 8px;
    }
}

.simple-spinner {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #2b00d591;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .simple-spinner span {
    display: block;
    width: 30px;
    height: 30px;
    border: 3px solid transparent;
    border-radius: 50%;
    border-right-color: rgba(255, 255, 255, 0.7);
    animation: spinner-anim 0.8s linear infinite;
  }
  
  @keyframes spinner-anim {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
/*--rating css--*/

.rating-section{


.box-rating-default{
    display: inline-block;
    text-align: left;
    padding: 20px;
    background: $Back-Gray;
    width: 100%;
}
.box-rating-focus{
    margin-top: 15px;
}
#full-stars-example-two {
    float: left;
    width: 100%;
    text-align: left;
    /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
    .rating-group {
      display: inline-flex;
    }
    
    /* make hover effect work properly in IE */
    .rating__icon {
      pointer-events: none;
    }
    
    /* hide radio inputs */
    .rating__input {
     position: absolute !important;
     left: -9999px !important;
    }
    
    /* hide 'none' input from screenreaders */
    .rating__input--none {
      display: none
    }
  
    /* set icon padding and size */
    .rating__label {
      cursor: pointer;
      padding: 0 0.1em;
      font-size: 2rem;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    /* set default star color */
    .rating__icon--star {
      color: white;
      background: $brand-primary;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    /* if any input is checked, make its following siblings grey */
    .rating__input:checked ~ .rating__label .rating__icon--star {
      color: white;
      background: border-box;
      
      background: $border;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    /* make all stars orange on rating group hover */
    .rating-group:hover .rating__label .rating__icon--star {
        color: white;
      background: $brand-primary;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    /* make hovered input's following siblings grey on hover */
    .rating__input:hover ~ .rating__label .rating__icon--star {
        color: white;
        background: $border;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }
  

  .box-user-rating{
    position: relative;
    display: inline-block;
    padding: 20px 0;
    margin-top: 30px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    width: 100%;
    padding-left: 200px;
    img{
        position: absolute;
        width: 150px;
        left: 0;
        top: 30px;
    }
  }
  .total-rating{
    display: flex;
    align-items: center;
    b{
        font-size: 34px;
        color: $brand-primary;
        margin-right: 8px;
        span{
            font-size: 20px;
        }
    }
    label{
        margin-bottom: 0;
        font-size: 18px;
        color: $text-secondary;
    }
}
.star-rating{
    display: flex;
    align-items: center;
    margin-right: 4px;
    img{
        margin-right: 4px;
    }
}
.body-rating{
    max-width: 950px;
    width: 100%;
    margin: auto;
    .body-rating-content{
        display: inline-block;
        width: 100%;
        margin-top: 50px;
    }
}
.body-list-comment{
    display: inline-block;
    width: 100%;
    .item-comment{
        border-bottom: 1px solid $border;
        display: inline-block;
        width: 100%;
        padding-left: 200px;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        .avatar-name-comment{
            position: absolute;
            left: 0;
            top: 20px;
            width: 150px;
            b{
                display: inline-block;
                width: 100%;
                color: $brand-primary;
                margin-top: 5px;
            }
        }

    }
}
.content-comment{
    display: inline-block;
    width: 100%;
    p{
        margin: 0;
        padding: 15px 0;
    }
}
.description-comment{
    display: inline-block;
    width: 100%;
    .toltal-rating-time{
        display: flex;
        align-items: center;
        img{
            height: 20px;
        }
        span{
            margin-left: 8px;
            color: $text-secondary;
        }
    }
}
.rep-btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    img{
        margin-right: 4px;
    }
}
.box-rep-comment-in-comment{
    display: inline-block;
    width: 100%;
    padding: 20px;
    padding-bottom: 0;
    margin-top: 40px;
    background: $Back-Gray;
    .item-comment{
        &:nth-last-child(1){
            border-bottom: 0;
        }
    }
}
.box-rep-focus{
    display: inline-block;
    width: 100%;
    input{
        height: 80px;
        border: 1px solid $border;
        padding: 15px;
        padding-top: 0;
        color: $text-secondary;
        width: 100%;
        margin-bottom: 20px;
        &:focus{
            border: 1px solid $brand-primary;
        }
        &::placeholder{
            color: $Placeholder;
        }
    }
   
    .author-comment{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
        .avatar-rep-comment-and-name{
            display: flex;
            align-items: center;
            img{
                margin-right: 8px;
                height: 30px;
            }
            b{
                font-family: 'Google Sans';
                font-size: 14px;
            }
        }
        button{
            height: 40px;
            background: $brand-primary;
            color: white;
            display: flex;
            align-items: center;
            margin-left: 20px;
            padding: 0 20px;
            justify-content: center;
        }
    }
}
.pagging-main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .box-pagging{
        width: max-content;
        display: flex;
        margin: auto;
        a{
            min-width: 55px;
            padding: 0 15px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $border;
            border-right: 0;
            color: $text-secondary;
            &:nth-last-child(1){
                border-right: 1px solid $border;
            }
            &.active{
                background: $brand-primary;
                color: white;
                border-color: $brand-primary;
            }
        }
    }
}
}

  /*--end rating css--*/
  @media only screen and (max-width: 1400px) {
    .item-services.flex .content-project {
        display: flex;
        padding: 32px 30px;
    }
  }
  @media only screen and (max-width: 1295px) {
    section{
        padding: 30px 15px !important;
    }
    
    .swiper-slide{
        margin: 0 !important;
        margin-right: 15px !important;
    }
    .hero-slider {
        padding-top: 125px !important;
        margin-bottom: 0;
    }
    .description-hero p {
        font-size: 16px;
    }
    h1{
        font-size: 54px;
        span{
            font-size: 38px;
        }
    }
    .button-chat-primary a span{
        font-size: 14px;
    }
    .button-primary .button-primary-content a{
        font-size: 14px;
    }
    .button-advise .button-primary-content a,
    .button-chat-primary a {
        height: 54px;
    }
    .button-chat-primary a img {
        height: 35px;
    }
    .button-chat-primary{
        width: fit-content;
    }
    .item-course h6 a{
        font-size: 18px;
    }
    .nav-menu-content nav ul li a {
        font-size: 22px;
        text-decoration: none;
        padding: 10px 0;
        opacity: 0.7;
    }
    .item-course .infor-video b, .infor-video{
        display: inline-block !important;
        width: 100%;
    }
    .item-course .infor-video b{
        margin-bottom: 5px;
    }
    .item-course h6{
        margin-bottom: 5px;
    }
    header, footer{
        overflow: hidden;
        padding-left: 15px;
        padding-right: 15px;
    }
    footer{
        overflow: hidden;
        padding: 30px 15px !important;
    }
    .feedbacksoon {
        margin-left: 10px;
        width: 180px;
    }
    .advise-logo {
        margin-bottom: -201px;
        display: inline-block;
        width: 100%;
        max-width: 310px;
    }
    .body-whychoice {
        background: #3392A0;
        padding: 20px;
    }
    
    .content-think-founder p {
        font-size: 26px;
    }
    .services-other {
        padding: 30px 20px;
    }
    .item-services .content-project {
        padding: 23px;
        align-items: center;
    }
    .advise-footer .button-advise img.feedbacksoon {
        position: absolute;
        right: -140px;
    }
    .body-whychoice h3 {
        font-size: 36px;
        color: white;
    }
    .item-project {
        width: 100%;
        max-width:initial !important;
    }
    .item-services.flex .content-project {
        padding: 27.5px 21px !important;
    }
  }

  @media only screen and (max-width:1110px) {
    .item-services.flex .content-project {
        padding: 10px 21px !important;
    }
    .photo-founder {
        max-width: 310px;
        width: 100%;
    }
    .content-think-founder::before {
        content: "";
        display: inline-block;
        background: url(../images/think.svg) no-repeat;
        width: 200px;
        height: 200px;
        position: absolute;
        left: -90px;
        top: -60px;
        background-size: contain;
    }
  }
  @media only screen and (max-width:960px) {
   
    
    .feedbacksoon {
        margin-left: 10px;
        width: 180px;
    }
    .nav-menu-content .nav-menu-bodycontent{
        max-width: 400px;
    }
    .logo-brands-content .item-logo{
        padding: 10px 0 !important;
        img{
            height: 55px ;
        }
    }
    .advise-logo {
        margin-bottom: -191px;
        display: inline-block;
        width: 100%;
        max-width: 300px;
    }
    .body-whychoice {
        background: #3392A0;
        padding: 30px;
    }
    .body-whychoice{
        .col-md-4{
            -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        }
    }
    .content-think-founder {
        max-width: 400px;
    }
    .think-section{
        img{
            &.feedbacksoon{
                display: none !important;
            }
        }
    }
    .content-think-founder::before {
        width: 190px;
        height: 190px;
        left: -40px;
        top: -50px;
        background-size: contain;
    }
    
  }

  @media only screen and (max-width:767px) {
    .rating-section{
        .total-rating{
            flex-wrap: wrap;
        }
        .box-user-rating{
            padding-left: 0;
            img{
                left: 0;
                display: inline-block;
                margin-bottom: 15px;
                position: relative;
                top: 0;
            }
        }
        .item-comment{
            padding-left: 0 !important;
            .avatar-name-comment{
                position: relative !important;
                left: 0 !important;
                top: 0 !important;
                margin-bottom: 15px;
            }
        }
        .author-comment{
            margin-bottom: 20px;
        }
        .pagging-main .box-pagging a {
            min-width: 40px;
            padding: 0 5px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #D9D8DD;
            border-right: 0;
            color: #726E84;
        }
    }
    .description-main-course{
        flex-wrap: wrap;
        .item-main-course{
            -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 20px;
        }
    }
    .item-cate-course {
        padding: 15px;
    }
    .body-course-section .box-content-course {
        padding: 15px;
    }
    .info-course-detail .button-primary-content.outline{
        margin-right: 0 !important;
        margin-bottom: 20px;
    }
    .box-get-vaulue {
        padding: 15px;
    }
    .box-get-vaulue{
        .col-md-4{
            &:nth-last-child(1){
                .item-get-value{
                    margin-bottom: 0;
                }
            }
        }
    }
    .feedbacksoon {
        margin-left: 10px;
        width: 230px;
        float: left;
        margin-top: 10px;
    }
    .button-chat-primary {
        margin-top: 30px;
        display: inline-block;
    }
    .nav-menu-content .nav-menu-bodycontent{
        max-width: 400px;
    }
    .logo-brands-content .item-logo{
        padding: 10px 0 !important;
        img{
            height: 55px ;
        }
    }

    .advise-logo {
        margin-bottom: -191px;
        display: inline-block;
        width: 100%;
        max-width: 300px;
    }
    .body-whychoice {
        background: #3392A0;
        padding: 15px;
    }
    .body-nav-header > .button-primary .button-primary-content{
        &:nth-child(1){
            display: none;
        }
        &:nth-child(2){
            a{
                width: 52px !important;
                overflow: hidden;
                border: 1px solid #e8e8e8;
                background: $Back-Gray !important;
                font-size: 0px;
                position: relative;
                &::after{
                    width:52px;
                    height: 52px;
                    content: '';
                    display: inline-block;
                    position: absolute;
                    left: 13px;
                    top: 11px;
                    background: url(../images/account.svg) no-repeat;
                    opacity: .7;
                }
                b{
                    display: none;
                }
            }
        }
    }
    .body-whychoice, .services-other{
        .col-md-4{
            -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        }
    }
    .content-think-founder {
        max-width: 400px;
    }
    .think-section{
        img{
            &.feedbacksoon{
                display: none !important;
            }
        }
    }
    .button-advise {
        flex-wrap: wrap;
        .button-chat-primary{
            margin-bottom: 15px;
        }
    }
    .advise-content{
        padding: 0 15px;
    }
    .advise-section p {
        font-size: 16px;
    }
    .content-think-founder::before {
        width: 190px;
        height: 190px;
        left: -40px;
        top: -50px;
        background-size: contain;
    }
    .hero-slider {
        padding-top: 65px !important;
    }
    
    .photo-founder {
        margin-bottom: 40px;
    }
    .services-other p {
        font-size: 14px;
        margin-bottom: 0;
    }
    .services-other{
        padding-top: 10px;
        margin-top: 0;
        padding-bottom: 10px;
    }
    .avatar-why-choice img{
        margin-top: 15px;
    }
    .body-whychoice h5 {
        font-size: 18px;
        margin-top: 40px;
    }
    .item-course{
        margin-bottom: 30px;
    }
    .price-box b, .price-box span{
        font-size: 15px;
    }
    .content-think-founder::before {
        width: 190px;
        height: 190px;
        left: -14px;
        top: -50px;
    }
    .content-think-founder p {
        padding-top: 50px;
    }
    .advise-footer{
        .feedbacksoon{
            display: none;
        }
    }
    .link-footer{
        margin-bottom: 30px;
    }
    .item-project {
        width: 100%;
        max-width: 359px;
    }
    footer{
        background: $Back-Gray;
    }
    .advise-footer{
        margin-top: 30px;
    }
    .logo-brands-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .item-logo{
            border: 0;
        }
    }
    .item-services.flex{
        .content-project{
            padding: 15px;
            h5{
                margin-top: 0;
                text-align: left;
                margin-bottom: 3px;
            }
            img{
                height: 120px;
            }
        }
        p{
            display: none;
        }
    }
    .swiper-slide {
        margin: 0 !important;
        margin-right: -7px !important;
    }
    .services-section{
        padding: 60px 0 0 0;
        &.pc{
            display: none;
        }
        &.mb{
            display: inline-block;
        }
      }
      .thumbnails-avatar{
        text-align: center;
      }
      .item-services .item-project h5 a {
        font-size: 18px;
    }
    .item-services.flex .content-project {
        padding: 10px !important;
    }
    .body-whychoice h3 {
        font-size: 24px;
        color: white;
        line-height: 34px;
    }
    .body-whychoice p {
        font-size: 13px;
    }
    .nav-menu-content .nav-menu-bodycontent {
        max-width: 350px;
        padding: 0 20px;
    }
    .nav-menu-content .connect-partner .button-primary span {
        width: 180px;
    }
    h1 span {
        font-size: 30px;
    }
    h1 {
        font-size: 44px;
    }
    .logo-brands-content .item-logo{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .link-menu-footer b {
        margin-bottom: 5px;
    }
    .infor-company{
        img{
            height: 70px;
        }
    }
    .link-menu-footer .link-footer a{
        color: $text-secondary;
    }
    .description-main-course .item-main-course img {
        width: 36px;
    }
    .description-main-course .item-main-course {
        padding-left: 47px;
    }
}

@media only screen and (max-width:600px) {
    .photo-founder {
        max-width: 100% !important;
        width: 100%;
    }
}